body,html{
    background-color: rgba(0,0,0,0.5);
    margin: 0;
    width: 100%;
    height: 120%;   
}
body{
    position: relative;
}
header{
    color: whitesmoke;
    background: rgba(0,0,0,0.8);

    padding: 10px;
    position: sticky;
    top: 0;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}
main table{
    color: whitesmoke;

    margin: 50px 0;

    width: 80%;
}
table thead{
    background-color: rgba(0,0,0,0.8);
}
thead th{
    padding: 50px;
    font-size: large;
}
table tbody{
    background-color: white;
    color: black;
}
tbody th{
    padding: 10px;
    border: solid rgba(0,0,0,0.8) 3px;
    cursor: grab;
}
th:hover{
    background-color: rgba(0,0,0,0.1);
}